In [ ]:
#In the Coursera course “Managing Big Data with MySQL” I was given access to a startup company called DOGNITION`s database . What DOGNITION does is allow you to purchase an account giving you access to 20 interactive games which you can play with your dog which were created by scientists, trainers, and behavioral specialists. After finishing the 20 games, you receive a 10-15 page report about your dog`s unique personality and traits. By obtaining an subscription, you then get access to more games your dog can play. One of DOGNITION`s primary goals is to collect as much data as possible, therefore they would like people to help figure out what business changes they could implement to increase the number of users, and tests completed on their website. In this mini-project I used SQL to run queries and extract meaningful data from the database, and then (as seen in Part 2 pdf) I learnt the basics of pandas, numpy, and matplotlib to make visualizations of the data.

In [1]:
#loading dognition database into Jupyter notebook

%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb
%sql USE dognitiondb

0 rows affected.

[]

In [2]:
%sql SHOW tables

6 rows affected.

[('complete_tests',),
 ('dogs',),
 ('exam_answers',),
 ('reviews',),
 ('site_activities',),
 ('users',)]

In [6]:
#Looking into demographics of Dognition Users by Country.

%%sql 
SELECT users.country as Country, 
COUNT(users.user_guid) as Total_Users, 
AVG(users.max_dogs) as Avg_Num_Dogs, 
ROUND(COUNT(users.user_guid) * AVG(users.max_dogs),0) as Total_Dogs
FROM users JOIN dogs ON users.user_guid = dogs.user_guid 
WHERE Country NOT IN ("None", "N/A") and users.max_dogs >= 1
GROUP BY Country
ORDER BY Total_Dogs DESC
LIMIT 15;

15 rows affected.

[('US', 13962, Decimal('3.3673'), Decimal('47014')),
 ('CA', 719, Decimal('1.8303'), Decimal('1316')),
 ('GB', 236, Decimal('2.2246'), Decimal('525')),
 ('AU', 231, Decimal('1.7359'), Decimal('401')),
 ('ZA', 49, Decimal('4.7551'), Decimal('233')),
 ('NZ', 62, Decimal('1.7581'), Decimal('109')),
 ('FR', 44, Decimal('1.9773'), Decimal('87')),
 ('BR', 39, Decimal('1.7436'), Decimal('68')),
 ('MX', 29, Decimal('2.2759'), Decimal('66')),
 ('CH', 33, Decimal('1.7273'), Decimal('57')),
 ('DE', 47, Decimal('1.0851'), Decimal('51')),
 ('NO', 39, Decimal('1.3077'), Decimal('51')),
 ('DK', 38, Decimal('1.1316'), Decimal('43')),
 ('IT', 26, Decimal('1.3077'), Decimal('34')),
 ('SG', 23, Decimal('1.3478'), Decimal('31'))]

In [60]:
#Uploading data into csv file

demographic= %%sql SELECT users.country as Country, COUNT(users.user_guid) as Total_Users, AVG(users.max_dogs) as Avg_Num_Dogs, (COUNT(users.user_guid) * AVG(users.max_dogs)) as Total_Dogs FROM users JOIN dogs ON users.user_guid = dogs.user_guid WHERE Country NOT IN ("None", "N/A") and users.max_dogs >= 1 GROUP BY Country ORDER BY Total_Dogs DESC;
demographic.csv("demographics.csv")

68 rows affected.

CSV results at /home/jovyan/work/demographics.csv

In [38]:
#Now looking into distribution of Dognition Users by States in the US.

%%sql 
SELECT users.state,
CASE WHEN users.state IN ("AZ","CO", "ID", "MT", "NV", "NM", "UT", "WY","AK", "CA", "HI", "OR", "WA") THEN "West"
WHEN users.state IN ("ME","NH","MA","RI","CT","NY","NJ","PA","VT") THEN "North-East"
WHEN users.state IN ("IL","IN","IA","KS","MI","MN","MO","NE","ND","SD","OH","WI") THEN "Mid-West"
ELSE "South"
END AS State_Classification, 
COUNT(users.user_guid) as Total_Users, 
AVG(users.max_dogs) as Avg_Num_Dogs, 
ROUND(COUNT(users.user_guid) * AVG(users.max_dogs), 0) as Total_Dogs
FROM users JOIN dogs ON users.user_guid = dogs.user_guid 
WHERE Country = "US"  and users.max_dogs >= 1
GROUP BY users.state
ORDER BY Total_Dogs DESC;

56 rows affected.

[('NC', 'South', 1742, Decimal('14.8737'), Decimal('25910')),
 ('CA', 'West', 1890, Decimal('1.4466'), Decimal('2734')),
 ('VA', 'South', 658, Decimal('3.4529'), Decimal('2272')),
 ('TX', 'South', 803, Decimal('1.6301'), Decimal('1309')),
 ('N/A', 'South', 230, Decimal('5.1565'), Decimal('1186')),
 ('NY', 'North-East', 814, Decimal('1.3857'), Decimal('1128')),
 ('FL', 'South', 702, Decimal('1.5442'), Decimal('1084')),
 ('PA', 'North-East', 484, Decimal('1.7872'), Decimal('865')),
 ('CO', 'West', 450, Decimal('1.8489'), Decimal('832')),
 ('WA', 'West', 449, Decimal('1.7283'), Decimal('776')),
 ('NJ', 'North-East', 365, Decimal('2.0192'), Decimal('737')),
 ('MI', 'Mid-West', 307, Decimal('1.7687'), Decimal('543')),
 ('GA', 'South', 322, Decimal('1.6708'), Decimal('538')),
 ('IL', 'Mid-West', 404, Decimal('1.2475'), Decimal('504')),
 ('AZ', 'West', 307, Decimal('1.5863'), Decimal('487')),
 ('OH', 'Mid-West', 344, Decimal('1.3808'), Decimal('475')),
 ('MD', 'South', 302, Decimal('1.3477'), Decimal('407')),
 ('TN', 'South', 204, Decimal('1.9461'), Decimal('397')),
 ('MA', 'North-East', 332, Decimal('1.1898'), Decimal('395')),
 ('OR', 'West', 212, Decimal('1.5896'), Decimal('337')),
 ('CT', 'North-East', 225, Decimal('1.3556'), Decimal('305')),
 ('OK', 'South', 139, Decimal('2.0791'), Decimal('289')),
 ('MN', 'Mid-West', 191, Decimal('1.4974'), Decimal('286')),
 ('WI', 'Mid-West', 179, Decimal('1.5531'), Decimal('278')),
 ('SC', 'South', 176, Decimal('1.5114'), Decimal('266')),
 ('IN', 'Mid-West', 145, Decimal('1.6897'), Decimal('245')),
 ('MO', 'Mid-West', 140, Decimal('1.5500'), Decimal('217')),
 ('KY', 'South', 93, Decimal('2.0538'), Decimal('191')),
 ('NV', 'West', 98, Decimal('1.5408'), Decimal('151')),
 ('NM', 'West', 91, Decimal('1.5714'), Decimal('143')),
 ('DE', 'South', 68, Decimal('2.0882'), Decimal('142')),
 ('IA', 'Mid-West', 83, Decimal('1.6265'), Decimal('135')),
 ('NH', 'North-East', 81, Decimal('1.5802'), Decimal('128')),
 ('AL', 'South', 65, Decimal('1.8154'), Decimal('118')),
 ('KS', 'Mid-West', 87, Decimal('1.3563'), Decimal('118')),
 ('LA', 'South', 77, Decimal('1.4675'), Decimal('113')),
 ('UT', 'West', 70, Decimal('1.5429'), Decimal('108')),
 ('DC', 'South', 91, Decimal('1.0549'), Decimal('96')),
 ('HI', 'West', 64, Decimal('1.4688'), Decimal('94')),
 ('AR', 'South', 50, Decimal('1.8400'), Decimal('92')),
 ('MT', 'West', 52, Decimal('1.7308'), Decimal('90')),
 ('ID', 'West', 59, Decimal('1.3051'), Decimal('77')),
 ('ME', 'North-East', 54, Decimal('1.3889'), Decimal('75')),
 ('NE', 'Mid-West', 46, Decimal('1.3696'), Decimal('63')),
 ('VT', 'North-East', 42, Decimal('1.2381'), Decimal('52')),
 ('MS', 'South', 26, Decimal('1.6154'), Decimal('42')),
 ('RI', 'North-East', 37, Decimal('1.0000'), Decimal('37')),
 ('AK', 'West', 29, Decimal('1.2069'), Decimal('35')),
 ('WV', 'South', 21, Decimal('1.0476'), Decimal('22')),
 ('AP', 'South', 10, Decimal('1.8000'), Decimal('18')),
 ('WY', 'West', 14, Decimal('1.0714'), Decimal('15')),
 ('SD', 'Mid-West', 11, Decimal('1.3636'), Decimal('15')),
 ('PR', 'South', 7, Decimal('2.0000'), Decimal('14')),
 ('ND', 'Mid-West', 10, Decimal('1.4000'), Decimal('14')),
 ('AE', 'South', 9, Decimal('1.4444'), Decimal('13')),
 ('GU', 'South', 1, Decimal('1.0000'), Decimal('1'))]

In [9]:
#Uploading data into csv file

demographic2 = %%sql SELECT users.state, CASE WHEN users.state IN ("AZ","CO", "ID", "MT", "NV", "NM", "UT", "WY","AK", "CA", "HI", "OR", "WA") THEN "West" WHEN users.state IN ("ME","NH","MA","RI","CT","NY","NJ","PA","VT") THEN "North-East" WHEN users.state IN ("IL","IN","IA","KS","MI","MN","MO","NE","ND","SD","OH","WI") THEN "Mid-West" ELSE "South" END AS State_Classification, COUNT(users.user_guid) as Total_Users, AVG(users.max_dogs) as Avg_Num_Dogs, ROUND(COUNT(users.user_guid) * AVG(users.max_dogs), 0) as Total_Dogs FROM users JOIN dogs ON users.user_guid = dogs.user_guid WHERE Country = "US"  and users.max_dogs >= 1 GROUP BY users.state ORDER BY Total_Dogs DESC;
demographic2.csv("demographic2.csv")

56 rows affected.

CSV results at /home/jovyan/work/demographic2.csv

In [53]:
#Looking into whether Number of Complete Tests varies by Day of the Week.

%%sql 
SELECT MONTH(created_at) as The_Month, DAYOFWEEK(created_at) as Day_Week, 
CASE WHEN DAYOFWEEK(created_at)= 1 THEN "Sunday"
WHEN DAYOFWEEK(created_at) = 2 THEN "Monday" 
WHEN DAYOFWEEK(created_at) = 3 THEN "Tuesday" 
WHEN DAYOFWEEK(created_at) = 4 THEN "Wednesday"
WHEN DAYOFWEEK(created_at) = 5 THEN "Thursday" 
WHEN DAYOFWEEK(created_at) = 6 THEN "Friday" 
ELSE "Saturday"
END AS Day_of_Week,
COUNT(created_at) as Total_Tests
FROM complete_tests 
GROUP BY The_Month, Day_Week, Day_of_Week;

84 rows affected.

[(1, 1, 'Sunday', 2053),
 (1, 2, 'Monday', 1262),
 (1, 3, 'Tuesday', 1283),
 (1, 4, 'Wednesday', 1370),
 (1, 5, 'Thursday', 1721),
 (1, 6, 'Friday', 1566),
 (1, 7, 'Saturday', 1813),
 (2, 1, 'Sunday', 1863),
 (2, 2, 'Monday', 1267),
 (2, 3, 'Tuesday', 1211),
 (2, 4, 'Wednesday', 1217),
 (2, 5, 'Thursday', 1121),
 (2, 6, 'Friday', 1096),
 (2, 7, 'Saturday', 1347),
 (3, 1, 'Sunday', 2259),
 (3, 2, 'Monday', 1076),
 (3, 3, 'Tuesday', 1216),
 (3, 4, 'Wednesday', 984),
 (3, 5, 'Thursday', 1050),
 (3, 6, 'Friday', 1240),
 (3, 7, 'Saturday', 1747),
 (4, 1, 'Sunday', 1134),
 (4, 2, 'Monday', 982),
 (4, 3, 'Tuesday', 1105),
 (4, 4, 'Wednesday', 1074),
 (4, 5, 'Thursday', 891),
 (4, 6, 'Friday', 945),
 (4, 7, 'Saturday', 999),
 (5, 1, 'Sunday', 4051),
 (5, 2, 'Monday', 2926),
 (5, 3, 'Tuesday', 2405),
 (5, 4, 'Wednesday', 2809),
 (5, 5, 'Thursday', 2846),
 (5, 6, 'Friday', 2746),
 (5, 7, 'Saturday', 3230),
 (6, 1, 'Sunday', 3951),
 (6, 2, 'Monday', 4488),
 (6, 3, 'Tuesday', 3965),
 (6, 4, 'Wednesday', 2816),
 (6, 5, 'Thursday', 2535),
 (6, 6, 'Friday', 2535),
 (6, 7, 'Saturday', 3091),
 (7, 1, 'Sunday', 2647),
 (7, 2, 'Monday', 2175),
 (7, 3, 'Tuesday', 2034),
 (7, 4, 'Wednesday', 2276),
 (7, 5, 'Thursday', 2216),
 (7, 6, 'Friday', 2331),
 (7, 7, 'Saturday', 2298),
 (8, 1, 'Sunday', 2414),
 (8, 2, 'Monday', 1778),
 (8, 3, 'Tuesday', 1622),
 (8, 4, 'Wednesday', 1923),
 (8, 5, 'Thursday', 2036),
 (8, 6, 'Friday', 1522),
 (8, 7, 'Saturday', 2087),
 (9, 1, 'Sunday', 2769),
 (9, 2, 'Monday', 4268),
 (9, 3, 'Tuesday', 3335),
 (9, 4, 'Wednesday', 2774),
 (9, 5, 'Thursday', 2225),
 (9, 6, 'Friday', 2164),
 (9, 7, 'Saturday', 2318),
 (10, 1, 'Sunday', 5547),
 (10, 2, 'Monday', 6850),
 (10, 3, 'Tuesday', 6582),
 (10, 4, 'Wednesday', 5850),
 (10, 5, 'Thursday', 5291),
 (10, 6, 'Friday', 4209),
 (10, 7, 'Saturday', 4908),
 (11, 1, 'Sunday', 2653),
 (11, 2, 'Monday', 1435),
 (11, 3, 'Tuesday', 1579),
 (11, 4, 'Wednesday', 1604),
 (11, 5, 'Thursday', 1265),
 (11, 6, 'Friday', 1593),
 (11, 7, 'Saturday', 2523),
 (12, 1, 'Sunday', 1849),
 (12, 2, 'Monday', 1688),
 (12, 3, 'Tuesday', 1652),
 (12, 4, 'Wednesday', 1776),
 (12, 5, 'Thursday', 1223),
 (12, 6, 'Friday', 1133),
 (12, 7, 'Saturday', 1538)]

In [7]:
#Uploading data into csv file

dayofweek = %%sql SELECT MONTH(created_at) as The_Month, DAYOFWEEK(created_at) as Day_Week, CASE WHEN DAYOFWEEK(created_at)= 1 THEN "Sunday" WHEN DAYOFWEEK(created_at) = 2 THEN "Monday" WHEN DAYOFWEEK(created_at) = 3 THEN "Tuesday" WHEN DAYOFWEEK(created_at) = 4 THEN "Wednesday" WHEN DAYOFWEEK(created_at) = 5 THEN "Thursday" WHEN DAYOFWEEK(created_at) = 6 THEN "Friday" ELSE "Saturday" END AS Day_of_Week, COUNT(created_at) as Total_Tests FROM complete_tests GROUP BY The_Month, Day_Week, Day_of_Week;
dayofweek.csv("dayofweek.csv")

84 rows affected.

CSV results at /home/jovyan/work/dayofweek.csv

In [2]:
#Checking for possible relationship between dog-type (dogs.dimension) and number of complete tests for each test.

%%sql 
SELECT complete_tests.test_name, COUNT(complete_tests.created_at),
COUNT(CASE WHEN dogs.dimension IS NULL THEN complete_tests.created_at END) AS "N/A", 
COUNT(CASE WHEN dogs.dimension = "ace" THEN complete_tests.created_at END) AS Ace, 
COUNT(CASE WHEN dogs.dimension = "charmer" THEN complete_tests.created_at END) AS Charmer, 
COUNT(CASE WHEN dogs.dimension = "einstein" THEN complete_tests.created_at END) AS Einstein, 
COUNT(CASE WHEN dogs.dimension = "expert" THEN complete_tests.created_at END) AS Expert, 
COUNT(CASE WHEN dogs.dimension = "maverick" THEN complete_tests.created_at END) AS Maverick, 
COUNT(CASE WHEN dogs.dimension = "protodog" THEN complete_tests.created_at END) AS Protodog, 
COUNT(CASE WHEN dogs.dimension = "renaissance-dog" THEN complete_tests.created_at END) AS Renaissance,
COUNT(CASE WHEN dogs.dimension = "socialite" THEN complete_tests.created_at END) AS Socialiate, 
COUNT(CASE WHEN dogs.dimension = "stargazer" THEN complete_tests.created_at END) AS Stargazer 
FROM complete_tests JOIN dogs ON complete_tests.dog_guid = dogs.dog_guid
WHERE complete_tests.created_at IS NOT NULL and (dogs.exclude != 1 or dogs.exclude IS NOT NULL)
GROUP BY complete_tests.test_name
ORDER BY COUNT(complete_tests.created_at) DESC;

40 rows affected.

[('Yawn Warm-up', 1031, 278, 103, 92, 37, 44, 48, 89, 74, 112, 71),
 ('Yawn Game', 1009, 268, 101, 93, 36, 45, 46, 85, 72, 111, 70),
 ('Eye Contact Warm-up', 943, 244, 98, 80, 36, 41, 46, 85, 70, 100, 72),
 ('Treat Warm-up', 932, 241, 98, 82, 37, 41, 49, 83, 71, 106, 70),
 ('Arm Pointing', 925, 239, 102, 81, 38, 40, 47, 85, 69, 104, 70),
 ('Eye Contact Game', 882, 224, 92, 77, 35, 39, 44, 80, 68, 96, 67),
 ('Watching', 856, 161, 102, 88, 38, 44, 48, 88, 69, 107, 72),
 ('Foot Pointing', 851, 210, 92, 77, 35, 39, 44, 80, 68, 96, 67),
 ('Two Cup Warm-up', 822, 146, 101, 82, 39, 44, 48, 89, 73, 110, 70),
 ('One Cup Warm-up', 808, 147, 97, 82, 38, 41, 47, 88, 71, 106, 70),
 ('Memory versus Pointing', 793, 129, 99, 77, 39, 41, 50, 88, 73, 108, 70),
 ('Turn Your Back', 771, 133, 95, 79, 35, 39, 44, 80, 66, 98, 67),
 ('Memory versus Smell', 769, 109, 102, 80, 39, 43, 46, 88, 71, 107, 69),
 ('Cover Your Eyes', 766, 123, 96, 77, 35, 40, 44, 82, 68, 99, 68),
 ('Watching - Part 2', 747, 117, 92, 77, 35, 39, 44, 80, 67, 96, 68),
 ('Inferential Reasoning Warm-up', 688, 41, 98, 83, 38, 42, 49, 88, 71, 105, 69),
 ('Delayed Cup Game', 683, 74, 92, 77, 35, 39, 44, 80, 68, 96, 67),
 ('Inferential Reasoning Game', 682, 36, 101, 82, 38, 42, 48, 87, 71, 106, 68),
 ('Physical Reasoning Warm-up', 672, 24, 101, 82, 37, 43, 49, 88, 72, 104, 71),
 ('Physical Reasoning Game', 611, 13, 92, 77, 35, 39, 44, 80, 68, 96, 67),
 ('Warm-up', 221, 0, 23, 20, 23, 16, 13, 27, 39, 33, 27),
 ('5 vs 1 Game', 120, 0, 14, 11, 7, 12, 6, 13, 21, 22, 14),
 ('Navigation Warm-up', 106, 0, 18, 10, 8, 8, 11, 12, 11, 18, 10),
 ('Navigation Learning', 102, 0, 16, 10, 8, 7, 11, 11, 10, 19, 10),
 ('Navigation Game', 100, 0, 16, 8, 8, 7, 11, 11, 10, 19, 10),
 ('Impossible Task Warm-up', 92, 1, 14, 7, 7, 8, 7, 12, 12, 15, 9),
 ('Impossible Task Game', 90, 1, 14, 6, 7, 8, 7, 11, 12, 15, 9),
 ('Numerosity Warm-Up', 69, 0, 9, 6, 5, 8, 4, 5, 12, 12, 8),
 ('3 vs 1 Game', 64, 0, 8, 6, 4, 7, 4, 5, 11, 12, 7),
 ('1 vs 1 Game', 55, 0, 6, 6, 2, 4, 3, 8, 9, 10, 7),
 ('Smell Game', 38, 0, 2, 4, 6, 4, 3, 5, 5, 7, 2),
 ('Self Control Game', 37, 0, 3, 3, 5, 2, 2, 5, 6, 5, 6),
 ('Slide', 36, 0, 5, 2, 2, 2, 2, 5, 8, 6, 4),
 ('Expression Game', 35, 0, 5, 3, 4, 2, 1, 3, 7, 5, 5),
 ('Switch', 35, 0, 5, 2, 3, 3, 1, 4, 8, 6, 3),
 ('Stair Game', 30, 0, 2, 2, 3, 2, 2, 4, 6, 6, 3),
 ('Shaker Warm-Up', 27, 0, 3, 3, 2, 3, 1, 2, 8, 4, 1),
 ('Shaker Game', 27, 0, 3, 3, 2, 3, 1, 2, 8, 4, 1),
 ('Different Perspective', 22, 0, 2, 2, 3, 2, 1, 4, 3, 2, 3),
 ('Shared Perspective', 22, 0, 2, 2, 3, 2, 1, 4, 3, 2, 3)]

In [8]:
#Perhaps there is a relationship between AVG Days Between Tests (dogs.mean_iti_days) and Number of Tests Completed. For instance if a user has their dog take tests at large time intervals (high dogs.mean_iti_days) , then number of tests completed may be low because it shows they are not that commited to having their dogs complete the games.

%%sql
SELECT users.membership_type, dogs.mean_iti_days AS "AVG Days Between Tests", dogs.total_tests_completed AS "Total Tests Completed"
FROM users JOIN dogs on users.user_guid = dogs.user_guid
WHERE (dogs.exclude != 1 or dogs.exclude IS NOT NULL) and dogs.mean_iti_days != "NaN"
ORDER BY (dogs.mean_iti_days) DESC
LIMIT 100;

100 rows affected.

[(2, '9.9301291561', '45'),
 (2, '9.9301291561', '45'),
 (2, '9.9301291561', '45'),
 (2, '9.9301291561', '45'),
 (2, '9.8186563223', '33'),
 (2, '9.8186563223', '33'),
 (2, '9.8010179674', '22'),
 (2, '9.4691319444', '36'),
 (2, '9.4691319444', '36'),
 (2, '9.4048475242', '24'),
 (2, '9.4048475242', '24'),
 (2, '9.3910051031', '45'),
 (2, '9.3910051031', '45'),
 (2, '9.3910051031', '45'),
 (2, '9.3910051031', '45'),
 (2, '9.2186549708', '20'),
 (2, '9.2186549708', '20'),
 (2, '9.087035108', '25'),
 (1, '8.9957337963', '6'),
 (2, '8.6499398713', '42'),
 (2, '8.6186704282', '25'),
 (2, '8.4542703072', '45'),
 (2, '8.4542703072', '45'),
 (2, '8.4542703072', '45'),
 (2, '8.4542703072', '45'),
 (2, '8.4542703072', '45'),
 (2, '8.4542703072', '45'),
 (1, '8.4103773148', '11'),
 (2, '8.385450011', '43'),
 (3, '8.2343022487', '22'),
 (3, '8.2343022487', '22'),
 (2, '8.1058820663', '20'),
 (2, '8.0907859604', '44'),
 (2, '8.0907859604', '44'),
 (1, '76.33742284', '7'),
 (1, '71.26703125', '7'),
 (2, '7.9597124895', '45'),
 (3, '7.9295031722', '28'),
 (3, '7.9295031722', '28'),
 (1, '7.9206163194', '13'),
 (2, '7.9044907407', '45'),
 (2, '7.8953520955', '20'),
 (2, '7.8953520955', '20'),
 (2, '7.8478303063', '27'),
 (2, '7.8478303063', '27'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.7342542438', '31'),
 (2, '7.5730966248', '32'),
 (2, '7.5310771605', '31'),
 (2, '7.5260232534', '45'),
 (2, '7.5260232534', '45'),
 (2, '7.4821626372', '28'),
 (2, '7.3335146605', '43'),
 (2, '7.2124131944', '35'),
 (2, '7.2124131944', '35'),
 (2, '7.2100752315', '31'),
 (2, '7.2100752315', '31'),
 (2, '7.1767657271', '35'),
 (2, '7.1345699179', '45'),
 (2, '7.1345699179', '45'),
 (2, '7.13284617', '45'),
 (2, '7.1065819655', '45'),
 (1, '7.0552570663', '20'),
 (1, '7.0067050439', '20'),
 (3, '7.0002476852', '11'),
 (3, '7.0002476852', '11'),
 (3, '7.0002476852', '11'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '69.875772569', '9'),
 (2, '66.027291667', '5'),
 (2, '66.027291667', '5'),
 (2, '6.9520717593', '5'),
 (2, '6.9520717593', '5'),
 (2, '6.9520717593', '5'),
 (2, '6.9520717593', '5'),
 (2, '6.9520717593', '5'),
 (2, '6.9520717593', '5')]

In [6]:
#Uploading data into csv file

data4 = %%sql SELECT users.membership_type, dogs.mean_iti_days AS "AVG Days Between Tests", dogs.total_tests_completed AS "AVG Tests Completed" FROM users JOIN dogs on users.user_guid = dogs.user_guid WHERE (dogs.exclude != 1 or dogs.exclude IS NOT NULL) and dogs.mean_iti_days != "NaN" ORDER BY (dogs.mean_iti_days) DESC;
data4.csv("data4.csv")

1586 rows affected.

CSV results at /home/jovyan/work/data4.csv

In [5]:
#Seeing trend of number of users who have completed tests going from the 1st test to the 45th (last) dognition test. Also included the Average Rating users gave for each game.

%%sql 
SELECT COUNT(user_guid), test_name, subcategory_name, AVG(rating) 
FROM reviews 
GROUP BY test_name, subcategory_name
ORDER BY COUNT(user_guid) DESC;

45 rows affected.

[(3240, 'Yawn Warm-up', 'Empathy', Decimal('2.0035')),
 (3099, 'Yawn Game', 'Empathy', Decimal('2.8477')),
 (2436, 'Eye Contact Game', 'Empathy', Decimal('2.9372')),
 (2173, 'Eye Contact Warm-up', 'Empathy', Decimal('0.9632')),
 (1962, 'Treat Warm-up', 'Communication', Decimal('0.7909')),
 (1949, 'Arm Pointing', 'Communication', Decimal('4.2153')),
 (1640, 'Foot Pointing', 'Communication', Decimal('4.0093')),
 (1333, 'Turn Your Back', 'Cunning', Decimal('3.1293')),
 (1268, 'Cover Your Eyes', 'Cunning', Decimal('2.6741')),
 (1247, 'Watching', 'Cunning', Decimal('2.4594')),
 (1130, 'Watching - Part 2', 'Cunning', Decimal('2.6570')),
 (1053, 'Memory versus Pointing', 'Memory', Decimal('3.5584')),
 (988, 'One Cup Warm-up', 'Memory', Decimal('1.3693')),
 (946, 'Two Cup Warm-up', 'Memory', Decimal('1.6737')),
 (946, 'Memory versus Smell', 'Memory', Decimal('4.2623')),
 (932, 'Delayed Cup Game', 'Memory', Decimal('3.3514')),
 (748, 'Inferential Reasoning Warm-up', 'Reasoning', Decimal('4.3066')),
 (692, 'Inferential Reasoning Game', 'Reasoning', Decimal('4.5223')),
 (649, 'Physical Reasoning Game', 'Reasoning', Decimal('3.8492')),
 (607, 'Physical Reasoning Warm-up', 'Reasoning', Decimal('1.6625')),
 (136, 'Navigation Learning', 'Spatial Navigation', Decimal('2.0303')),
 (134, 'Navigation Warm-up', 'Spatial Navigation', Decimal('1.9805')),
 (124, 'Impossible Task Game', 'Impossible Task', Decimal('3.0965')),
 (107, 'Navigation Game', 'Spatial Navigation', Decimal('2.9841')),
 (102, 'Impossible Task Warm-up', 'Impossible Task', Decimal('0.2174')),
 (95, '5 vs 1 Game', 'Numerosity', Decimal('3.9674')),
 (86, 'Numerosity Warm-Up', 'Numerosity', Decimal('2.6173')),
 (81, '3 vs 1 Game', 'Numerosity', Decimal('4.2857')),
 (66, 'Warm-Up', 'Social Bias', Decimal('0.4032')),
 (64, '1 vs 1 Game', 'Social Bias', Decimal('3.9206')),
 (61, '5 vs 1 Game', 'Social Bias', Decimal('3.8644')),
 (53, 'Smell Game', 'Smell Game', Decimal('4.2857')),
 (50, 'Warm-up', 'Smell Game', Decimal('1.2553')),
 (47, 'Warm-Up', 'Shell Game', Decimal('1.5238')),
 (46, 'Slide', 'Shell Game', Decimal('4.5111')),
 (39, 'Switch', 'Shell Game', Decimal('5.5676')),
 (31, 'Warm-Up', 'Self Control Game', Decimal('1.8276')),
 (30, 'Expression Game', 'Expression Game', Decimal('4.0000')),
 (28, 'Self Control Game', 'Self Control Game', Decimal('3.8519')),
 (24, 'Stair Game', 'Laterality', Decimal('4.2857')),
 (24, 'Warm-Up', 'Expression Game', Decimal('1.8696')),
 (20, 'Shared Perspective', 'Perspective Game', Decimal('3.2778')),
 (19, 'Different Perspective', 'Perspective Game', Decimal('2.7647')),
 (14, 'Shaker Warm-Up', 'Shaker Game', Decimal('2.1818')),
 (9, 'Shaker Game', 'Shaker Game', Decimal('4.6667'))]